input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 50px #212121 inset;
    -webkit-text-fill-color: lightgrey !important;
}

#background {
    background: url(../img/Gallery/Background/Wood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
    margin: 0;
}

.user-panel {
    width: 50vw;
    margin: auto;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.user-panel h4 {
    margin-top: 3vh;
}

.overlay {
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(17%, rgba(0, 0, 0, 0.73)), color-stop(35%, rgba(0, 0, 0, 0.66)), color-stop(62%, rgba(0, 0, 0, 0.55)), color-stop(100%, rgba(0, 0, 0, 0.4)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    /* W3C */
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
}

#welcome {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

div#welcome h2 {
    font-family: 'RM Typerighter old Regular';
    font-weight: normal;
    color: darkgrey;
    text-align: center;
    font-size: 6vh;
    line-height: normal;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    margin-top: 4vh;
    margin-bottom: 0;
}

div#welcome h3 {
    font-family: 'RM Typerighter old Regular';
    text-align: center;
    color: lightgray;
    font-weight: normal;
    font-size: 9vh;
    line-height: normal;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 0;
}

#mobile {
    height: 34vh;
    width: auto;
    margin-top: 7vh;
}

#desktop {
    visibility: hidden;
    height: 0;
    width: 0;
    margin: 0;
}

#button1 {
    background: transparent;
}

div#welcome button:hover,
div#welcome button:focus {
    background: #751818;
}

ul#welcome-buttons li {
    margin: 1.3vh;
}

#button2 button {
    background: #c52927;
}

#button2 {
    background: #c52927;
}

#showPassword {
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    margin-left: -60px;
    -webkit-appearance: none;
    color: whitesmoke;
    display: inline;
    font-size: 1.5em;
}

#showPassword2 {
    width: auto;
    height: auto;
    background: transparent;
    border: 0;
    margin-left: -60px;
    -webkit-appearance: none;
    color: whitesmoke;
    display: inline;
    font-size: 1.5em;
}

button {
    height: 1.5em;
    width: 5em;
    border: 0.05em solid white;
    color: white;
    font-family: 'RM Typerighter Regular';
    font-size: 6vh;
    font-weight: bold;
    border-radius: 0.15em;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

div#welcome ul {
    margin-top: 4vh;
    margin-bottom: 6vh;
    color: transparent;
}

#welcome-buttons {
    padding: 0;
}

h4 {
    font-family: 'RM Typerighter old Regular';
    color: lightgray;
    font-weight: normal;
    font-size: 2.2em;
    margin: 0;
}

#buttonLogin {
    background: #c52927;
    width: 100%;
    height: 1.3em;
}

#buttonLogin:focus,
#buttonLogin:hover {
    background: #751818;
}

#button3:hover {
    background: #751818;
}

modal-content#div {
    visibility: hidden;
}

#logo-comunista {
    width: 30vw;
    height: 15vh;
    position: absolute;
    margin: 10vw;
    margin-top: 0;
}

#stemma-fascista {
    visibility: hidden;
}


/*-------------------- HAMBURGER MMMM ----------------*/

.header {
    background-color: #212121;
    font-family: 'RM Typerighter Regular';
    font-weight: bold;
    font-size: 3em;
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.header .logo a img {
    width: 200px;
}

.header .logo {
    padding: 12px 0px 6px 25px;
}

.header .menu ul {
    margin: 0;
    padding: 0;
    padding-top: 23px;
}

.header .menu ul li {
    display: inline-block;
    list-style: none;
    padding: 30px 40px 30px 0px;
    transition: all .5s ease-in-out;
}

.header .menu ul li a {
    color: #c52927;
    text-decoration: none;
}

.header .menu ul li ul.submenu {
    display: none;
    position: absolute;
    width: 180px;
}

.header .menu ul li ul.submenu li {
    width: 100%;
}

.header .menu ul li ul.submenu li a {
    color: #c52927;
    padding: 20px;
}

.header .menu ul li ul.submenu li a:hover {
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.header .menu ul li:hover ul.submenu {
    display: block;
}

.header .menu ul li i.icon-arrow {
    display: none;
}

#user-name {
    display: inline;
}

.menu>ul>li>div>a>h2 {
    font-size: .9em;
    display: inline;
}

#icon {
    padding-right: 5px;
}

.subOption {
    background: #212121;
    font-size: 0.7em;
}

#icona-user {
    font-size: .5em;
}

@media screen and (max-width: 719px) {
    .header .menu ul {
        padding: 0;
    }
    .header {
        font-size: 2.2em;
    }
    #icona-user {
        font-size: 1em;
    }
    .subOption {
        background: #161616;
        font-size: 1em;
    }
    .menu>ul>li>div>a>h2 {
        font-size: 1.4em;
        font-weight: bold;
    }
    .header .menu ul li {
        padding: 0;
        transition: none;
    }
    .header .menu ul li ul.submenu {
        width: 150px;
    }
    .header .logo {
        padding: 8px 0 6px 0px;
    }
    .header .logo a img {
        width: 150px;
        height: 49px;
    }
    .header .menu ul li a {
        display: block;
        padding: 4vh 4vw;
    }
    .header nav.menu ul {
        position: fixed;
        bottom: 0;
        left: 0;
        top: 0;
        margin-left: -1000px;
        z-index: 1;
        background-color: #212121;
        -moz-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
        -moz-transition: margin-left 0.5s;
        -o-transition: margin-left 0.5s;
        -webkit-transition: margin-left 0.5s;
        transition: margin-left 0.5s;
        overflow-y: scroll;
        width: 75vw;
    }
    .header nav.menu.active {
        position: fixed;
        left: 0;
        bottom: 0;
        top: 0;
        width: 100%;
    }
    .header nav.menu.active ul {
        margin-left: 0;
        -moz-transition: margin-left 0.5s;
        -o-transition: margin-left 0.5s;
        -webkit-transition: margin-left 0.5s;
        transition: margin-left 0.5s;
        width: 75vw;
        overflow-y: scroll;
    }
    .header nav.menu.active ul li {
        display: block;
    }
    .header nav.menu.active ul li:hover .submenu {
        display: none;
    }
    .header nav.menu.active ul li a {
        width: auto;
    }
    .header nav.menu.active ul li .flexbox-container {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
    }
    .header nav.menu.active ul li .flexbox-container i.icon-arrow {
        display: inline-block;
        padding: 26px 25px;
        text-align: center;
        cursor: pointer;
    }
    #user-name {
        padding-top: 32px;
    }
    .header nav.menu.active ul li .flexbox-container h2 {
        display: inline;
    }
    .header nav.menu.active ul li .flexbox-container i.icon-arrow svg {
        width: 0.5em;
    }
    .header nav.menu.active ul li .submenu {
        max-height: 0;
        overflow: hidden;
        box-shadow: none;
    }
    .header nav.menu.active ul li.showSubmenu .submenu {
        max-height: 1000px;
        width: 100%;
        position: relative;
        display: block;
        overflow: inherit;
        background-color: #161616;
    }
    .header nav.menu.active ul li.showSubmenu .submenu .subOption a {
        padding: 15px 40px;
    }
    .header nav.menu.active ul li.showSubmenu i.icon-arrow {
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    .header nav.menu .hamburger {
        display: inline-block;
        position: absolute;
        top: 20px;
        right: 10px;
        padding: 12px 22px;
        color: #c52927;
        cursor: pointer;
        z-index: 2;
    }
    .header nav.menu .hamburger span,
    .header nav.menu .hamburger span:before,
    .header nav.menu .hamburger span:after {
        left: 0;
        border-radius: 2px;
        height: 3px;
        width: 30px;
        background: #c52927;
        position: absolute;
        display: block;
        content: '';
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .header nav.menu .hamburger span:before {
        top: -8px;
    }
    .header nav.menu .hamburger span:after {
        bottom: -8px;
    }
    .header nav.menu .hamburger.active span {
        background-color: transparent;
    }
    .header nav.menu .hamburger.active span:before,
    .header nav.menu .hamburger.active.active span:after {
        top: 0;
    }
    .header nav.menu .hamburger.active span:before {
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .header nav.menu .hamburger.active span:after {
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #user {
        padding: 38px 25px;
    }
}

*/ .dimmer {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

.dimmer.active {
    display: block;
}

.no-scrolling {
    overflow: hidden;
    position: fixed;
}


/*-------------------- END HAMBURGER MMMM ----------------*/


/*------------------- LOGIN STYLE --------------------*/


/* Full-width input fields */

input[type=text],
input[type=password],
input[type=date] {
    width: 100%;
    padding: 0.4em 4.5vw;
    margin-top: 1vh;
    display: inline-block;
    border: 0.05em solid white;
    border-radius: 0.3em;
    background: #212121;
    color: lightgray;
    box-sizing: border-box;
    font-family: 'RM Typerighter old Regular';
    font-size: 2em;
}

span.psw {
    float: right;
    margin-top: 5vh;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw;
    /* Full width */
    height: 100vh;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
}


/* Modal Content/Box */

.modal-content {
    background-color: transparent;
    height: 45.5vh;
    width: 88vw;
    margin-top: 0;
    margin-left: 6vw;
}


/* The Close Button (x) */

.close {
    position: absolute;
    right: 3vh;
    top: 1vh;
    color: #c52927;
    font-size: 18vh;
    margin: 0;
    font-family: 'RM Typerighter old Regular';
    text-shadow: -1px 0 lightgrey, 0 1px lightgrey, 1px 0 lightgrey, 0 -1px lightgrey;
    transition: all .3s ease-in-out;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}


/* Add Zoom Animation */

.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

#labelUsername {
    margin-top: 20vh;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
}

#labelLogin {
    margin-top: 4vh;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
}

#labelRestaConnesso {
    margin-bottom: 5vh;
    margin-top: 1vh;
    font-size: 2.5em;
    text-decoration: none;
    font-family: 'RM Typerighter old Regular';
}

a#label3 {
    font-family: 'RM Typerighter old Regular';
    text-decoration: none;
    margin-top: 3vh;
    font-size: 2.5em;
    color: lightgray;
    transition: all .3s ease-in-out;
}

a#label3:hover,
label3:focus {
    color: darkgray;
}

.navbar {
    height: 20vh;
}

#labelNome {
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
    margin: 0;
}

#labelRegistrazione {
    margin-top: 1vh;
    text-shadow: -1px 0 #212121, 0 1px #212121, 1px 0 #212121, 0 -1px #212121;
}

#buttonRegistrazione {
    background: #c52927;
    width: 100%;
    height: 8vh;
    margin-top: 3vh;
}

div#divRegistrazione {
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

#mobileNav {
    height: auto;
    width: 100vw;
    ;
    background: transparent;
}

.navbar-inverse {
    background: Transparent;
    border-color: transparent;
}


/*---------------------------- LOGIN STYLE END -----------------------------*/


/*--------------------------- MEDIA QUERY MOBILE ----------------------*/

@media only screen and (min-width: 375px),
screen and (max-width: 719px) {
    input[type=text],
    input[type=password],
    input[type=date] {
        padding: 0.6em 5vw;
    }
    #showPassword {
        margin-left: -60px;
    }
    #showPassword2 {
        margin-left: -60px;
    }
    .close {
        right: 3vw;
        top: -1.2vh;
    }
    div#divRegistrazione {
        margin-top: 3vh;
    }
}


/*---------------------------- MEDIA QUERY DESKTOP ---------------------------*/

@media screen and (min-width: 768px),
screen and (max-width: 1079px) {
    #labelUsername {
        margin-top: 23vh;
    }
    #showPassword {
        margin-left: -50px;
    }
    #showPassword2 {
        margin-left: -50px;
    }
    div#divRegistrazione {
        margin-top: 3vh;
    }
    input[type=text],
    input[type=password] {
        padding: 0.7em 1.5vw;
    }
    input[type=date] {
        font-size: 2em;
        padding: 0.2em 1.5vw;
    }
    h4 {
        font-size: 2.5em;
    }
    #mobile {
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0;
    }
    #desktop {
        visibility: visible;
        height: 52vh;
        width: auto;
        margin-top: 2vh;
    }
    div#welcome h2 {
        font-size: 9vh;
    }
    div#welcome h3 {
        font-size: 13vh;
        margin-top: 5vh;
    }
    div#welcome button {
        height: 1.8em;
        width: 5.5em;
        border: 0.07em solid white;
    }
    ul#welcome-buttons li {
        margin: 0.1em;
        display: inline;
    }
    div#welcome ul {
        margin-top: 5vh;
        margin-bottom: 3vh;
        color: transparent;
    }
    .modal-content {
        width: 40vw;
        margin-left: 30vw;
    }
    #logo-comunista {
        float: left;
        position: relative;
    }
    #stemma-fascista {
        width: 5.5%;
        height: 15vh;
        position: absolute;
        right: 10vw;
        top: 4vh;
        visibility: visible;
    }
}

@media screen and (min-width: 1080px) {
    input[type=text],
    input[type=password] {
        padding: 0.9em 1.5vw;
    }
    input[type=date] {
        font-size: 2em;
        padding: 0.45em 1.5vw;
    }
    div#divRegistrazione {
        margin-top: 6vh;
    }
}


/*---------------------------- END MEDIA QUERY DESKTOP ---------------------------------*/
