@font-face {
    font-family: 'RM Typerighter old Regular';
    font-weight: normal;
    src: url('webfonts/RM_Typerighter_old_Regular.woff2') format('woff2'), 
    	 url('webfonts/RM_Typerighter_old_Regular.woff') format('woff'),
         url('webfonts/RM_Typerighter_old_Regular.svg') format('svg'),
    	 url('webfonts/RM_Typerighter_old_Regular.ttf') format('truetype');
}
